#calculator {
	margin: 50px auto;
	padding: 20px;
	background-color: #eee;
	border-radius: 10px;
	width: 250px;
}

#output {
	background-color: #fff;
	border: none;
	border-radius: 5px;
	height: 50px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: right;
	width: 100%;
	font-size: 30px;
}

#buttons {
	display: flex;
	flex-wrap: wrap;
}

button {
	background-color: #fff;
	border: none;
	border-radius: 5px;
	color: #333;
	font-size: 20px;
	height: 50px;
	margin: 5px;
	width: 50px;
}

button:hover {
	background-color: #ccc;
	cursor: pointer;
}
